<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/header.ejs %>

    <h1><%= title %></h1>
    <h1><%= sec %></h1>
    <h2>Named Title</h2>
    <p>Welcome to <%= title %></p>

    <!--local variable-->
    <p> Local Variable Points = <%= points %> </p>

    <p>Welcome <a href = "/about"> to </a> <%= title %></p>

    <ul>
        <% for(var i = 0; i < 5; i++) { %>
        <li> <a href = "/about" > Tuna </a> </li>
        <% } %>
    </ul>

  <p> <%= videodata.categoryName %> </p>

  <ul>
      <% videodata.categories.forEach(function(item){ %>
            <li><%= item.categoryName %></li>
      <% }); %>
  </ul>

  </body>
</html>
